{% if fuzz %}
# 'fuzz' is not included here as it will fail on Windows, requires nightly, and will confuse newbies
{% endif %}
[workspace]
resolver = "2"
members = ["{{project-name}}"]

# Profile Build
[profile.profile]
inherits = "release"
debug = true
strip = false  # No stripping!!

# Benchmark Build
[profile.bench]
inherits = "profile"

# Optimized Release Build
[profile.release]
codegen-units = 1
lto = true
strip = true  # Automatically strip symbols from the binary.
panic = "abort"
