[template]
cargo_generate_version = ">=0.18.3"
ignore = [
    "pre-script.rhai",
    "src/bindings/csharp/obj",
    "src/bindings/csharp/bin",
] # These files are not included in the generated project. Don't include images here.
exclude = [
    ".github/workflows/auto-changelog.yml",
    ".github/workflows/deploy-mkdocs.yml",
    "doc/docs/vendor/Reloaded/Images/Nexus-Heart-40.avif",
    "doc/docs/vendor/Reloaded/Images/Nexus-Icon-40.avif",
    "doc/docs/vendor/Reloaded/Images/Reloaded-Heart-40.avif",
    "doc/docs/vendor/Reloaded/Images/Reloaded-Icon-40.avif",
    "src/bindings/csharp/nuget-icon.png",
]

[hooks]
pre = ["pre-script.rhai"]
post = ["final-msg.rhai"]

[placeholders.gh_username]
type = "string"
prompt = "GitHub username (or organization)"
# The username cannot end with a hyphen, too, but
# this requirement is not captured by the regex at the moment.
regex = "^[A-Za-z0-9][A-Za-z0-9-]{0,38}$"

[placeholders.gh_reponame]
type = "string"
prompt = "Repository name"

[placeholders.project_description]
type = "string"
prompt = "Project description"

## External Documentation
[placeholders.mkdocs]
type = "bool"
prompt = "Include external documentation (mkdocs)"
default = true

[conditional.'mkdocs == false']
ignore = ["mkdocs.yml", "doc", ".github/workflows/deploy-mkdocs.yml"]

## VSCode Integration
[placeholders.vscode]
type = "bool"
prompt = "Include VSCode Configurations & IDE Setup Guide"
default = true

[conditional.'vscode == false']
ignore = ["src/.vscode", "doc/.vscode"]

## Cross Platform
[placeholders.xplat]
type = "bool"
prompt = "Include Cross Platform Testing Instructions & GitHub Actions Test Runs"
default = true

## Big Endian
[conditional.'xplat == true'.placeholders]
big_endian = { type = "bool", prompt = "Include Big Endian Target Support (PowerPC 32-bit and 64-bit)", default = false }

## Wine
[placeholders.wine]
type = "bool"
prompt = "Run Automated Tests against Wine (x86 and x64)"
default = true

[conditional.'wine == false']
ignore = ["flake.nix"]

## Benchmark
[placeholders.bench]
type = "bool"
prompt = "Include Benchmark Configuration (Required for PGO)"
default = true

[conditional.'bench == false']
ignore = ["src/{{project-name}}/benches"]

## Miri
[placeholders.miri]
type = "bool"
prompt = "Will you write advanced, unsafe, or mission-critical code? (Adds Miri to detect undefined behaviour)"
default = false

## Fuzz
[placeholders.fuzz]
type = "bool"
prompt = "Include Fuzz Testing Configuration? (Requires nightly Rust)"
default = false

[conditional.'fuzz == false']
ignore = ["src/fuzz"]

## Build C Libraries
[placeholders.build_c_libs]
type = "bool"
prompt = "Build C Libraries in CI? (Min Size, Nightly Rust, Panic Aborts)"
default = true

[conditional.'build_c_libs == false']
ignore = [
    "src/{{project-name}}/src/exports.rs",
    ".github/cbindgen_cpp.toml",
    ".github/cbindgen_c.toml",
    "src/bindings/csharp",
]

## Build CLI Executable
[placeholders.build_cli]
type = "bool"
prompt = "Include CLI executable wrapper project?"
default = false

[conditional.'build_cli == false']
ignore = ["src/cli"]

## Build C# Bindings
[conditional.'build_c_libs == true'.placeholders]
build_csharp_libs = { type = "bool", prompt = "Build C# Bindings?", default = false }

[conditional.'build_csharp_libs == false']
ignore = ["src/bindings/csharp"]

## Add PGO (Profile-Guided Optimization)
[conditional.'bench == true && (build_c_libs == true || build_cli == true)'.placeholders]
build_with_pgo = { type = "bool", prompt = "Enable PGO? (Profile Guided Optimization)", default = true }

## Publish Crate on crates.io
[placeholders.publish_crate_on_tag]
type = "bool"
prompt = "Publish to crates.io on Tag?"
default = true
